section.b-ermolaev
	article.b-ermolaev__article
		.b-ermolaev__textblock
			.b-ermolaev__counter 01.
			h2.b-ermolaev__title Цель
			p.b-ermolaev__text Представление пивного бренда <br>на федеральном уровне. Сайт <br>должен качественно представлять <br>сам бренд и продукцию, выпускаемую <br>новым заводом “Ермолаевъ” <br>по всей России. Вторая, по важности, <br>задача - привлечение партнеров.
		.b-ermolaev__images
			.b-ermolaev-notebook
				canvas.b-ermolaev-notebook__screen#notescreen(width = '825px' height = '515px')
	article.b-ermolaev__article.b-ermolaev__article--landing
		.b-ermolaev__textblock
			.b-ermolaev__counter 02.
			h2.b-ermolaev__title Лендинг-страницы
			p.b-ermolaev__text Для качественной <br>и наглядной подачи <br>информации мы разработали <br>(в рамках одного сайта) <br>несколько лендинг-страниц. <br>Страницы “Партнерам”, <br>“О пивоварне” и “История” - <br>это целевые страницы, <br>разработанные <br>под конкретные задачи
		.b-ermolaev__images
			.b-ermolaev-landing
				img(src="images/erm-landing-2.png").b-ermolaev-landing__landing
				.b-ermolaev-tooltip__tip--1.b-ermolaev-tooltip__tip(data-tooltip-content="#tooltp1")
				.b-ermolaev-tooltip__tip--2.b-ermolaev-tooltip__tip(data-tooltip-content="#tooltp2")
				.b-ermolaev-tooltip__tip--3.b-ermolaev-tooltip__tip(data-tooltip-content="#tooltp3")
				.b-ermolaev-tooltip__tip--4.b-ermolaev-tooltip__tip(data-tooltip-content="#tooltp4")
				.b-ermolaev-tooltip__tip--5.b-ermolaev-tooltip__tip(data-tooltip-content="#tooltp5")
		.b-ermolaev-tooltip__templates(style="display:none;")
			.b-ermolaev-tooltip#tooltp1
				.b-ermolaev-tooltip__title Здесь описание<br>какого-либо важного<br>элемента
				a(href="").b-ermolaev-tooltip__exit 
			.b-ermolaev-tooltip#tooltp2
				.b-ermolaev-tooltip__title Здесь описание<br>какого-либо важного<br>элемента
				a(href="").b-ermolaev-tooltip__exit 
			.b-ermolaev-tooltip#tooltp3
				.b-ermolaev-tooltip__title Здесь описание<br>какого-либо важного<br>элемента
				a(href="").b-ermolaev-tooltip__exit 
			.b-ermolaev-tooltip#tooltp4
				.b-ermolaev-tooltip__title Здесь описание<br>какого-либо важного<br>элемента
				a(href="").b-ermolaev-tooltip__exit 
			.b-ermolaev-tooltip#tooltp5
				.b-ermolaev-tooltip__title Здесь описание<br>какого-либо важного<br>элемента
				a(href="").b-ermolaev-tooltip__exit 
	article.b-ermolaev__article.b-ermolaev__article--3
		.b-ermolaev__textblock
			.b-ermolaev__counter 03.
			h2.b-ermolaev__title Главное
			p.b-ermolaev__text Продукция пивоварни <br>«Ермолаевъ» представлена <br>таким образом, чтобы гость сайта <br>мысленно начал приближать <br>вечер пятницы, когда можно <br>оставить все заботы позади <br>и расслабиться в хорошей <br>компании.
		.b-ermolaev__images
			img(src="images/general-bg-3.png").b-ermolaev-general
	article.b-ermolaev__article.b-ermolaev__article--4-5
		.b-ermolaev__images
			.b-ermolaev-menu
				img.b-ermolaev-menu__img(src="images/m-menu-bg.png")
				.b-ermolaev-menu__wrapper
					.b-mobileMennu
						.b-mobileMennu__button 
							.b-mobileMennu__strip.b-mobileMennu__strip--top
							.b-mobileMennu__strip.b-mobileMennu__strip--center
							.b-mobileMennu__strip.b-mobileMennu__strip--bottom
						.b-mobileMennu__container
							.b-mobileMennu__menu
								.b-mobileMennu__element.s-spoiler
									h2.b-mobileMennu__title.s-spoiler__title Напитки
									.b-mobileMennu__item.s-spoiler__container
										a(href="#").b-mobileMennu__variant.s-spoiler__element Оригинальные
										a(href="#").b-mobileMennu__variant.s-spoiler__element Премиальные
										a(href="#").b-mobileMennu__variant.s-spoiler__element Сезонные 
										a(href="#").b-mobileMennu__variant.s-spoiler__element Квас
										a(href="#").b-mobileMennu__variant.s-spoiler__element Лимонады
								.b-mobileMennu__element.s-spoiler
									h2.b-mobileMennu__title.s-spoiler__title Пивоварня
									.b-mobileMennu__item.s-spoiler__container
										a(href="#").b-mobileMennu__variant.s-spoiler__element История
										a(href="#").b-mobileMennu__variant.s-spoiler__element О нас
										a(href="#").b-mobileMennu__variant.s-spoiler__element Экскурсии
										a(href="#").b-mobileMennu__variant.s-spoiler__element Контакты
								.b-mobileMennu__element.s-spoiler
									h2.b-mobileMennu__title.s-spoiler__title Интересное
									.b-mobileMennu__item.s-spoiler__container
										a(href="#").b-mobileMennu__variant.s-spoiler__element Новости 
										a(href="#").b-mobileMennu__variant.s-spoiler__element Блог

		.b-ermolaev-menu__container
			.b-ermolaev__textblock
				.b-ermolaev__counter 04.
				h2.b-ermolaev__title Адаптивный дизайн
				p.b-ermolaev__text Для полного охвата аудитории, помимо десктопной <br>версии, дизайнером разработана планшетная <br>и мобильная версия. Сайт корректно и грамотно <br>отображается при любом разрешении любого устройства.
			.b-ermolaev__textblock
				.b-ermolaev__counter 05.
				h2.b-ermolaev__title Важна каждая деталь
				p.b-ermolaev__text Для Каждый сайт и каждый интерфейс сайта - это множество <br>мелких деталей. 
	article.b-ermolaev__article.b-ermolaev__article--3
		.b-ermolaev-header
			.b-header__wrapper
				.b-header.b-header--mobile
					.b-logo__wrapper
						a(href="/").b-header__logo.b-logo
							img(src='images/logo.png').b-logo__pix.b-logo__pix--not
							img(src='images/logo-hover.png').b-logo__pix.b-logo__pix--hover
					nav.b-header__menu
						ul.b-menu
							li.b-menu__elem
								a(href='drinks.html').b-menu__link Напитки
								.b-secondMenu
									.b-secondMenu__item
										.b-secondMenu__textblock
											h3.b-secondMenu__title Напитки
											p.b-secondMenu__subtitle Пивоварня «ЕрмолаевЪ» была запущена в 2008 году. Чешское и Немецкое сырье, а основу рецептуры составили старинные рецепты известных всей дореволюционной России пивных династий и лучшие традиционные европейские сорта.
										nav
											ul.b-secondMenu__menu
												li.b-secondMenu__element
													a(href='').b-secondMenu__link Оригинальные
												li.b-secondMenu__element
													a(href='').b-secondMenu__link Премиальные
												li.b-secondMenu__element
													a(href='').b-secondMenu__link Сезонные
												li.b-secondMenu__element
													a(href='').b-secondMenu__link Квас
												li.b-secondMenu__element
													a(href='').b-secondMenu__link Лимонад
										.b-secondMenu__slider(data-nav='false' data-width='300' data-height='200'  )
											img(src="images/original.png").b-secondMenu__pix
											img(src="images/prem.png").b-secondMenu__pix
											img(src="images/season.png").b-secondMenu__pix
											img(src="images/original.png").b-secondMenu__pix
											img(src="images/prem.png").b-secondMenu__pix


							li.b-menu__elem
								a(href='brewery.html').b-menu__link Команда
							.b-secondMenu
								.b-secondMenu__item
									.b-secondMenu__textblock
										h3.b-secondMenu__title Команда
										p.b-secondMenu__subtitle Пивоварня «ЕрмолаевЪ» была запущена в 2008 году. Чешское и Немецкое сырье, а основу рецептуры составили старинные рецепты известных всей дореволюционной России пивных династий и лучшие традиционные европейские сорта.
									nav
										ul.b-secondMenu__menu
											li.b-secondMenu__element
												a(href='').b-secondMenu__link История
											li.b-secondMenu__element
												a(href='').b-secondMenu__link О нас
											li.b-secondMenu__element
												a(href='').b-secondMenu__link Экскурсии
											li.b-secondMenu__element
												a(href='').b-secondMenu__link Контакты
									.b-secondMenu__slider(data-nav='false' data-width='300' data-height='200'  )
										img(src="images/history.png").b-secondMenu__pix
										img(src="images/team.png").b-secondMenu__pix
										img(src="images/excurs.png").b-secondMenu__pix
										img(src="images/brewery.png").b-secondMenu__pix
							li.b-menu__elem
								a(href='news.html').b-menu__link Интересное
							//	include secondMenu.jade
							li.b-menu__elem
								a(href='contact.html').b-menu__link Где купить
							li.b-menu__elem
								a(href='partners.html').b-menu__link Партнерам
					.b-header__social.b-social
						a(href='').b-social__element.b-social__element--vk 
						a(href='').b-social__element.b-social__element--fb 
						//-a(href='').b-social__element.b-social__element--tw 
						a(href='').b-social__element.b-social__element--inst 