.b-ermolaev-slice
	.b-ermolaev-cub
		.b-ermolaev__subline Детально проработанное основное меню
		a(href="").b-gencub__elem.b-gencub__1.b-gencub__wide(style="background:url(images/original.jpg) no-repeat 50% /100%")
			h2.b-gencub__title 
				span.b-gencub__titlesourse Beer fest
			p.b-gencub__subtitle <span class="b-gencub__data"> 21 сентября 2016</span> <br>Welcome to best beer fest of youre life ! Ermolaev glad to se you again.
				.b-gencub__icon.b-gencub__icon--date 
	.b-ermolaev-timeline
		.b-brewery-timeline__templates(style="display:none;")
			.b-brewery-template#y2008
				.b-brewery-template__title Открытие первой<br> пивоварни "Ермолаевъ"
				a(href="http://www.ermolaev-beer.ru/istoriya.html#2008").b-brewery-template__link подробнее
			.b-brewery-template#y2011
				.b-brewery-template__title Открытие "Сельсовета" -<br> первой пивной сети "Ермолаевъ"
				a(href="http://www.ermolaev-beer.ru/istoriya.html#2011").b-brewery-template__link подробнее
			.b-brewery-template#y2012
				.b-brewery-template__title Открытие "Генштаба" - <br>  пивной в центре города. 
				a(href="http://www.ermolaev-beer.ru/istoriya.html#2012").b-brewery-template__link подробнее
			.b-brewery-template#y2014
				.b-brewery-template__title Открытие "Охоты-Рыбалки" -<br> третьей пивной сети "Ермолаевъ
				a(href="http://www.ermolaev-beer.ru/istoriya.html#2014").b-brewery-template__link подробнее
			.b-brewery-template#y2016
				.b-brewery-template__title "Строительство второй пивоварни "Ермолаевъ", открытие двух новых магазинов-баров пивоварни
				a(href="http://www.ermolaev-beer.ru/istoriya.html#2016").b-brewery-template__link подробнее
		.b-brewery-timeline__wrapper
			.b-ermolaev__subline Детально проработанное основное меню
			.b-brewery-timeline
				.b-brewery-timeline__timeline
					.b-brewery-timeline__line
						//img(src="images/brewery-zavod-small.png").b-brewery-zavod.b-brewery-zavod--small
						//img(src="images/brewery-zavod-big.png").b-brewery-zavod.b-brewery-zavod--big
						.b-brewery-timeline__year
							.b-brewery-timeline__name.b-brewery-timeline__name--2008 2008
							.b-brewery-timeline__dot.b-brewery-dot.b-brewery-dot--2008(data-tooltip-content="#y2008")
						
						.b-brewery-timeline__year.hidden-xs
							.b-brewery-timeline__name.b-brewery-timeline__name--2011 2011
							.b-brewery-timeline__dot.b-brewery-dot.b-brewery-dot--2011(data-tooltip-content="#y2011")
							
						.b-brewery-timeline__year
							.b-brewery-timeline__name.b-brewery-timeline__name--2012 2012
							.b-brewery-timeline__dot.b-brewery-dot.b-brewery-dot--2012(data-tooltip-content="#y2012")
							
						.b-brewery-timeline__year.hidden-xs
							.b-brewery-timeline__name.b-brewery-timeline__name--2014 2014
							.b-brewery-timeline__dot.b-brewery-dot.b-brewery-dot--2014(data-tooltip-content="#y2014")
							
						.b-brewery-timeline__year
							.b-brewery-timeline__name.b-brewery-timeline__name--2016 2016
							.b-brewery-timeline__dot.b-brewery-dot.b-brewery-dot--2016(data-tooltip-content="#y2016")