.b-ermolaev-mobile
	.b-ermolaev__subline Выбор продукта
	.b-ermolaev-mobile__frame
		.b-ermolaev-mobile__wrapper
			.b-mobileMennu
				.b-mobileMennu__button 
					.b-mobileMennu__strip.b-mobileMennu__strip--top
					.b-mobileMennu__strip.b-mobileMennu__strip--center
					.b-mobileMennu__strip.b-mobileMennu__strip--bottom
				.b-mobileMennu__container
					.b-mobileMennu__menu
						.b-mobileMennu__element.s-spoiler
							h2.b-mobileMennu__title.s-spoiler__title Напитки
							.b-mobileMennu__item.s-spoiler__container
								a(href="").b-mobileMennu__variant.s-spoiler__element Оригинальные
								a(href="").b-mobileMennu__variant.s-spoiler__element Премиальные
								a(href="").b-mobileMennu__variant.s-spoiler__element Сезонные 
								a(href="").b-mobileMennu__variant.s-spoiler__element Квас
								a(href="").b-mobileMennu__variant.s-spoiler__element Лимонады
						.b-mobileMennu__element.s-spoiler
							h2.b-mobileMennu__title.s-spoiler__title Пивоварня
							.b-mobileMennu__item.s-spoiler__container
								a(href="").b-mobileMennu__variant.s-spoiler__element История
								a(href="").b-mobileMennu__variant.s-spoiler__element О нас
								a(href="").b-mobileMennu__variant.s-spoiler__element Экскурсии
								a(href="").b-mobileMennu__variant.s-spoiler__element Контакты
						.b-mobileMennu__element.s-spoiler
							h2.b-mobileMennu__title.s-spoiler__title Интересное
							.b-mobileMennu__item.s-spoiler__container
								a(href="").b-mobileMennu__variant.s-spoiler__element Новости 
								a(href="").b-mobileMennu__variant.s-spoiler__element Блог

			.b-mfilter__wrapper.b-mfilter__wrapper--small
				.b-mfilter__button
					.b-mfilter__link Оригинальные сорта
				.b-mfilter
					.b-mfilter__item
						.b-mfilter__title Оригинальные сорта
						a(href="").b-mfilter__subtitle Баварское 
						a(href="").b-mfilter__subtitle Городское
						a(href="").b-mfilter__subtitle Красносельское
						a(href="").b-mfilter__subtitle Пильзенское
						a(href="").b-mfilter__subtitle Черное бархатное
					.b-mfilter__item
						.b-mfilter__title Премиальные сорта
						a(href="").b-mfilter__subtitle Косолаый
						a(href="").b-mfilter__subtitle Раджа Велорикша
						a(href="").b-mfilter__subtitle CAP AMERICA
						a(href="").b-mfilter__subtitle Просто космос
						a(href="").b-mfilter__subtitle Scotland yard
					.b-mfilter__item
						.b-mfilter__title Сезонные сорта
						a(href="").b-mfilter__subtitle Юбилейное
						a(href="").b-mfilter__subtitle Весенне
						a(href="").b-mfilter__subtitle Шашлычное
					.b-mfilter__item
						.b-mfilter__title Квас
						a(href="").b-mfilter__subtitle Ермолаевский
					.b-mfilter__item
						.b-mfilter__title Лимонады
						a(href="").b-mfilter__subtitle Тархун
						a(href="").b-mfilter__subtitle Буратино
						a(href="").b-mfilter__subtitle Крюшон
						a(href="").b-mfilter__subtitle Крем-сода